<ion-card class="historyDialog">
  <ion-card-header>
    <span>Collections History</span>
    <span><i class="fas fa-close" (click)="close()"></i></span>
  </ion-card-header>
  <ion-card-content>
    <div class="container">
      <ion-row class="versionSelector">
        <nb-select ngModel="{{versionDate| date:'MMMM d, y'}}" selected="0">
          <nb-option *ngFor="let item of versionInfo;let index = index" value="{{item.data.date| date:'MMMM d, y'}}" (click)="onSelectOption(index)">
            <span>{{item.data.date| date:'MMMM d, y'}}</span>
          </nb-option>
        </nb-select>
      </ion-row>
      <ion-row class="versionDetail" *ngIf="curVersion">
        <ion-col size="12" class="author">
          <span class="gradientText"><b>{{curVersion.author}}</b></span>
          <nb-alert *ngIf="versionIndex == 0" status="info">Current</nb-alert>
          <nb-alert *ngIf="versionIndex != 0" class="backgroundPurple">Historical</nb-alert>
        </ion-col>
        <ion-col size="12">
          {{curVersion.comment}}
        </ion-col>
        <ion-col size="12" class="changes">
          <ion-row *ngFor="let item of curVersion.changes">
            <ion-col size="1" class=" verticalCenterRow horizontalCenterRow">
              <i class="fad fa-plus" *ngIf="curVersion.action == 'Add'" style="color: #3dca3d;"></i>
              <i class="fad fa-minus" *ngIf="curVersion.action == 'Delete'" style="color: red;"></i>
              <i class="fad fa-edit" *ngIf="curVersion.action == 'Edit'" style="color: #3dca3d;"></i>
              <i class="fad fa-edit" *ngIf="curVersion.action == 'Revert'" style="color: #3dca3d;"></i>
              <i class="fad fa-plus" *ngIf="curVersion.action == 'Restore'" style="color: #3dca3d;"></i>
            </ion-col>
            <ion-col size="5">
              <p>{{item.name}}</p>
            </ion-col>
            <ion-col size="6">
              <p>{{item.path}}</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="horizontalCenterRow p10">
        <button nbButton status="info" (click)="selectVersion()"><span class="gradientText">Browse Collection</span></button>
      </ion-row>
    </div>
  </ion-card-content>
</ion-card>