<div class="page-wrapper">
  <div class="page-container">
    <div class="content-wrapper">
      <ion-row class="rowWrapper">
        <ion-col size="12" sizeLg="8">
          <div class="feature signin-social">
            <!-- <div class="feature-title">
              <h4>Confirmation<i class="fad fa-chevron-double-right play"></i></h4>
            </div> -->
            <div class="feature-body">
              <nb-stepper orientation="horizontal">
                <nb-step label="Send Email">
                  <div class="stepContent">
                    <div class="ion-margin-top inputSection">
                      <h6 class="ion-margin-bottom">Enter your email</h6>
                      <input (keyup)="validateStep1()" type="email" [(ngModel)]="email" class="form-input"
                        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{1,}[.]{1}[a-zA-Z]{2,}" pattern="regexp"
                        placeholder="Email..." />
                    </div>
                    <div class="submitWrapper">
                      <button nbButton routerDirection="forward" nbStepperNext status="primary" (click)="sendEmail('')">
                        SUBMIT
                      </button>
                    </div>
                  </div>
                </nb-step>
                <nb-step label="Enter Code">
                  <div class="stepContent">
                    <div class="ion-margin-top inputSection">
                      <h6 class="ion-margin-bottom">Enter your code</h6>
                      <input [(ngModel)]="code" (keyup)="validateStep2()" type="text" class="form-input"
                        placeholder="Code" />
                    </div>
                    <div class="submitWrapper">
                      <button nbButton status="info" nbStepperPrevious class="m5"><span class="gradientText">GO BACK</span></button>
                      <button nbButton status="primary" (click)="sendCode()" class="m5" nbStepperNext [disabled]="!step2">SUBMIT</button>
                    </div>
                  </div>
                </nb-step>
                <nb-step>
                  <div class="stepContent">
                    <div class="ion-margin-top inputSection">
                      <h6 class="ion-margin-bottom">Enter your new password</h6>
                    </div>
                    <div class="inputSection">
                      <input (keyup)="onChangePassword()" type="password" class="form-input" placeholder="New Password"
                        id="newPassword" [(ngModel)]="newPassword" />
                      <div class="eyeWrapper">
                        <span onclick="viewPassword('newPassword', 'pass-status-new')" id="pass-status-new"
                          class="fa fa-fw fa-eye field-icon toggle-password"></span>
                      </div>
                    </div>
                    <div class="inputSection ml20">
                      <ion-text *ngIf="newPassword && newPassword.length" class="password-strength">Password Strength:
                        <ion-text class="strength-level" [color]="passwordStrength === 'Strong' ? 'success' : passwordStrength === 'Medium' ? 'warning' : 'danger'">
                          {{ passwordStrength }}
                        </ion-text>
                      </ion-text>
                    </div>
                    <div class="submitWrapper">
                      <button nbButton nbStepperPrevious routerDirection="back" class="m5" status="info">
                        <span class="gradientText">GO BACK</span>
                      </button>
                      <button nbButton routerDirection="forward" nbStepperNext class="m5" status="primary">FINISH</button>
                    </div>
                  </div>
                </nb-step>
              </nb-stepper>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="page-footer">
      <app-page-footer></app-page-footer>
    </div>
  </div>
</div>