.metaDialogBody { width: 750px; 
    .delete-file { outline: none; }
    .header { padding: 0; display: flex;  margin: 0; padding-right: 18px;
        @media screen  and (max-width: 767px){
            display: none;
        }
        span { padding: 0 1rem; flex: 1; }
    }
    .trackItem { display: flex; align-items: center; font-size: 1rem; padding: 10px; border-radius: 15px; margin-bottom: 10px; color: #222b45;
        border-top: 2px solid #782c7f ; border-right: 2px solid #782c7f ; border-bottom: 2px solid #518DC9 ; border-left: 2px solid #518DC9 ;
        .reorder { width: 40px;}
        .track { width: 50px; 
            @media (max-width: 767px) {
                width: 25px;
            }
        }
        .contentWrapper { display: flex; flex-direction: row; align-items: center; flex: 1;
            .title { width: 250px; }
            .name { width: 250px; }
            .size { color: gray; }
            input { outline: none; height: 30px; padding: 5px; border: solid 1px #518DC9; }
            @media (max-width: 767px) {
                flex-direction: column; align-items: flex-start;
                .title { width: fit-content; }
                .name { width: fit-content; }
                .fileInfo { justify-content: space-between; width: 100%; margin-top: 10px; }
            }
        }
    }
    .fileInfoList { padding: 0.5rem 0; display: flex; flex-wrap: wrap;
        @media screen and (max-width: 767px){
            border-bottom: solid 1px rgba(211, 211, 211, 0.747);   
        }
        span { margin-left: 10px; }
        .wrapper { display: flex; flex: 1; flex-wrap: wrap;}
        .fileInfo { display: flex; flex: 1; min-width: 200px; flex-direction: column;
            &.videoFile { flex: 1.5;}
            .fileBody {  position: relative; display: flex; flex: 1;
                .fileSize { position: absolute; right: 0; color: gray; align-self: center; padding-right: 10px; }
            }
        }
        .title { flex: 1 ; min-width: 200px; flex-direction: column; }
        .track { flex: 1 ; min-width: 200px; flex-direction: column; 
            nb-select { width: 100%; }
        }
        .delete { padding-top: 15px;
            i { color: red; cursor: pointer; }
        }
    }
    .container { max-height: 300px; padding: 10px; overflow: auto; }
    .retryButton { color: #518DC9; cursor: pointer; padding: 5px; display: flex; align-items: center;
        &:hover { color: #782c7f; }
    }
    .progressBar {width: 100%; height: 10px; background-color: #eeeeee;
        .current { height: 10px;
            &.success { background: linear-gradient(90deg, #518DC9 0%, #782c7f 100%); }
            &.failed { background-color: #782c7f; }
        }
    }
}